<?xml version="1.0" encoding="UTF-8"?>
<launch>

<!-- carga el archivo URDF en el servidor de parámetros -->
<arg name="urdf_robot_file" default="$(find simple_robot_description)/urdf/robot.urdf"/>
<param name="robot_description" command="cat $(arg urdf_robot_file)"/>

<group ns="simple_model">
  <arg name="robot_name" default="simple_model"/>

  <!-- carga los controladores -->
  <rosparam file="$(find simple_robot_description)/config/config.yaml" command="load" ns="/simple_model"/>

  <!-- inicia el spawner (generador) -->
  <param name="/simple_robot/robot_description" command="cat $(arg urdf_robot_file)"/>
  <node name="urdf_spawner_simple_robot" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      args="-urdf -model $(arg robot_name) -param /simple_robot/robot_description"/>

  <!-- convierte el estado de los joints en transformaciones TF -->
  <node name="robot_state_publisher_simple_robot" pkg="robot_state_publisher" type="robot_state_publisher"
      respawn="false" output="screen">
    <param name="publish_frequency" type="double" value="5.0"/>
  </node>

  <!-- inicia el controlador -->
  <node name="simple_robot_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="--namespace=/simple_model 
      /simple_model/joint_state_controller
      /simple_model/base_to_second_joint_position_controller">
  </node>
</group>

</launch>